*.yy.c
*.tab.h
*.tab.c

*.o

a.out

/Practical-10/code_gen
/Practical-9/for_loop
/Practical-8/calculator
/Practical-7/calculator
/Practical-6/findString
/Practical-5/dec_to_hex
/Practical-4/convertCase
/Practical-3/count
/Practical-2/tokens
/Practical-1/numbers
